
  #cabecalho{
      display: flex;
      margin: 0px 20px 5px 5px;
  }

  #modelo,.cTitulo{
   /* border: 2px solid #FFF;*/
  }

   .cTitulo{
    width: 60%;
  }

  .cabecalho{
    
  }

  .paramBt{
    height: 40px;
    width: 90px;
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 25px;
    
  }

  .grupoBotoes{
    width: 15%;    
    display: flex;   
  }   


  .paramLb{
    margin-top: 20px;
  }  

  .container{
        /*position: absolute;
        top:180px;
        left: 50px;*/
        z-index: 1; 
      }

 body{
        background:#DCDCDC;
     }


 .destaque{
        background:#000;
     }

 #btAltera {
        background-image:url("edit.png");
     }

  .paramBtListagem{
    height: 40px; 
    margin-left: 15px;
    margin-top: 0px;
    margin-bottom: 25px;
    
  }   

  .limiteTela{
    width: 90%; 
    margin-left: 20px;
    
  } 