/*@import url(http://fonts.googleapis.com/css?family=Droid+Serif);*/
  #cabecalho{
      display: flex;
      
  }

  #modelo,.cTitulo{
   /* border: 2px solid #FFF;*/
  }

   .cTitulo{
    width: 60%;
  }

  .cabecalho{
    
  }

  .paramBt{
    height: 40px;
    width: 90px;
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 25px;
    
  }

  .grupoBotoes{
    width: 15%;    
    display: flex;   
  }   


  .paramLb{
    margin-top: 20px;
  }  

  .container{
        /*position: absolute;
        top:180px;
        left: 50px;*/
        z-index: 1; 
      }

 body{
        background:#DCDCDC;
     }


 .destaque{
        background:#C0C0C0;
        color:#000;         
        text-align: center;

     }

 #btAltera {
        background-image:url("edit.png");
     }

  .paramBtListagem{
    height: 40px; 
    margin-left: 15px;
    margin-top: 0px;
    margin-bottom: 25px;
    
  }   

  .limiteTela{
    width: 90%; 
    margin-left: 20px;
    
  }  

  .paramBtPagin{
    height: 40px; 
    
    margin-left: 5px; 
    margin-bottom: 50px;
    
  }   

  .paramBtPag{
    height: 40px; 
    width: 10px;    
    margin-bottom: 50px;

    
  }   



  .modal1 {
  position: fixed;
  top: 100;
  right: 100;
  bottom: 100;
  left: 300;
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modal1:target {
  opacity: 1;
  pointer-events: auto;
}

.modal1 > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 15px 20px;
  background: #fff;
}

.fechar1 {
  position: absolute;
  width: 30px;
  right: -15px;
  top: -20px;
  text-align: center;
  line-height: 30px;
  margin-top: 5px;
  background: #ff4545;
  border-radius: 50%;
  font-size: 16px;
  color: #8d0000;
}

.dv-pesquisa {
    margin-bottom: 25px;
    padding:5px; 
 
  }

.btPesq{
    height: 36px; 
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    
  }
